<a href="{{ path('app_article_article',{id:article.getId}) }}">
    <article class="jumbotron">
        <h3>{{ article.title}}</h3>
        <div class="well">{{ article.description}}</div>
        <p>par {{ article.author}}</p>            
    </article>
</a>